# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

# Site settings
url: 'https://fjolublar.github.io'
baseurl: ''
title: 'fjolublar'
email: indritfejza@gmail.com
description: 'Welcome to my cheat-sheet site for a multitude of software and other programming tools!'
permalink: pretty
logo: "https://raw.githubusercontent.com/fjolublar/fjolublar.github.io/master/logo_fjolublar.png"
social: # jekyll-seo-tag > social overrides
  name: Indrit Fejza # jekyll-seo-tag > real name
  links:  # jekyll-seo-tag > social aliases (sameAs)
    - https://twitter.com/IndritFejza
    - https://www.linkedin.com/in/indrit-fejza
    - https://github.com/fjolublar
# Pagination
paginate: 5
paginate_path: blog/page:num

favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
  16: '/assets/logos/logo@16px.png'
  32: '/assets/logos/logo@32px.png'
  96: '/assets/logos/logo@96px.png'
  120: '/assets/logos/logo@120px.png'
  144: '/assets/logos/logo@144px.png'
  180: '/assets/logos/logo@180px.png'
  512: '/assets/logos/logo@512px.png'
  1024: '/assets/logos/logo@1024px.png'

social_links: # Appears in sidebar. Set the urls then uncomment and comment out as desired
  Twitter: https://twitter.com/IndritFejza
  LinkedIn: https://www.linkedin.com/in/indrit.fejza
  GitHub: https://github.com/fjolublar

# Header nav
navigation_header:
- title: Home
  url: /
- title: About
  url: /about/
- title: Categories
  url: /categories/

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  posts:
    title: Posts
    output: true
    description: "My thoughts and ideas"
    feature_text: |
      Welcome to my blog
    feature_image: "https://picsum.photos/2560/600?image=866"

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages
